node_modules/
npm-debug.log
/.idea/
/tls.cert
*.log
*.env
logs/
*.bak
lb_settings.json
.nyc_output
coverage
.todo
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
*.js
*.tsbuildinfo
*.d.ts
!rollup.config*.js
.rollup.*
dist
#*.cjs
docs

